<%- include('partials/header') %>

<div id="pagesAccueil" class="page active">
  <%- include('pages/accueil', { title: "Accueil" }) %>
</div>

<div id="pagesMatch" class="page hidden">
  <%- include('pages/match', { title: "Match" }) %>
</div>

<div id="pagesTournament" class="page hidden">
  <%- include('pages/tournament', { title: "Tournoi" }) %>
</div>

<div id="pagesResult" class="page hidden">
  <%- include('pages/result', { title: "Résultat" }) %>
</div>

<%- include('partials/footer') %>
