<%- include('partials/header') %>

<div id="pagesAccueil" class="page hidden">
  <%- include('pages/accueil', { title: "Accueil" }) %>
</div>

<div id="pagesMatch" class="page hidden">
  <%- include('pages/match', { title: "Match - PONG" }) %>
</div>

<div id="pagesBegin_Tournament" class="page hidden">
  <%- include('pages/beginTournament', { title: "Tournoi Config" }) %>
</div>

<div id="pagesResult" class="page hidden">
  <%- include('pages/result', { title: "Résultat" }) %>
</div>

<div id="pagesParametre" class="page hidden">
  <%- include('pages/parametre', { title: "Parametre" }) %>
</div>

<div id="pagesTree_Tournament" class="page active">
  <%- include('pages/treeTournament', { title: "Tournoi Tree" }) %>
</div>

<%- include('./partials/icon_bar') %>

<%- include('partials/footer') %>
