<%- include('partials/header') %>

<div id="pagesLogin" class="page hidden">
  <%- include('pages/login', { title: "Login" }) %>
</div>

<div id="pagesSignup" class="page hidden">
  <%- include('pages/signup', { title: "Sign Up" }) %>
</div>

<div id="pagesAccueil" class="page hidden">
  <%- include('pages/accueil', { title: "Accueil" }) %>
</div>

<div id="pagesProfile" class="page hidden">
  <%- include('pages/profile', { title: "profile" }) %>
</div>

<div id="pagesLeaderboard" class="page hidden">
  <%- include('pages/leaderboard', { title: "Leaderboard" }) %>
</div>

<div id="pagesGame_Config" class="page hidden">
  <%- include('pages/gameConfig', { title: "Config your game" }) %>
</div>

<div id="pagesMatch" class="page hidden">
  <%- include('pages/match', { title: "Match - 1 V 1" }) %>
</div>

<div id="pagesTron" class="page hidden">
  <%- include('pages/tron', { title: "TRON" }) %>
</div>

<div id="pagesBegin_Tournament" class="page hidden">
  <%- include('pages/beginTournament', { title: "Tournoi Config" }) %>
</div>

<div id="pagesResult" class="page hidden">
  <%- include('pages/result', { title: "Résultat" }) %>
</div>

<div id="pagesParametre" class="page hidden">
  <%- include('pages/parametre', { title: "Parametre" }) %>
</div>

<div id="pagesCustom" class="page hidden">
  <%- include('pages/custom', { title: "Customization" }) %>
</div>

<div id="pagesTree_Tournament" class="page hidden">
  <%- include('pages/treeTournament', { title: "Tournoi Tree" }) %>
</div>

<div id="pagesError" class="page hidden">
  <%- include('pages/error', { title: "Erreur 404" }) %>
</div>

<%- include('./partials/icon_bar') %>

<!-- Components -->
<%- include('components/controls-modal') %>
<%- include('components/profile-edit-modal') %>

<%- include('partials/footer') %>
